    <!--index.html-->
    <!DOCTYPE html>
    <html>
    <head>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

        <title>SayPayTos</title>
    </head>
    <body>
         
         <img class="materialboxed" width="650" src="img/a.png">

      <div class="right-align">
            <div class="col s10 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Yeezy 350 Zebra</span>
                  <p>Kanye West and adidas release their second 350 of 2017 with the release of the adidas Yeezy Boost 350 V2 "Zebra." The sneaker features a white and core black Primeknit upper with a red SPLY 350 accent and a translucent white midsole that houses full-length Boost. This is a very limited release that will be available at select adidas flagship stores, adidas.com, and Yeezy Supply.</p>
                </div>
                <div class="card-action">
                </div>
              </div>
            </div>
          </div>

          <div class="left-align">
            <div class="col s10 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Hypebeasts</span>
                  <p>A Hype Beast is a kid that collect clothing, shoes, and accessories for the sole purpose of impressing others. Although the individual may not have a dime to their name they like to front like they are making far more then everybody else. </p>
                </div>
                
                </div>
              </div>
            </div>
          </div>



          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        
    </body>
    </html>